.white-content {
    background-image: url('../img/background.jpg');
}

.sidebar .sidebar-wrapper .logo img{
    padding: 8% 8% 8% 8%;
}
.required:after {
    content: "*";
    color: red;
}

select[readonly] {
    background: #eee;
    pointer-events: none;
    touch-action: none;
}

.select2-container .select2-selection--single {
    height: 37px !important;
}

.modal-loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/* enquanto estiver carregando, o scroll da página estará desativado */
body.loading {
    overflow: hidden;
}

/* a partir do momento em que o body estiver com a classe loading,  o modal aparecerá */
body.loading .modal-loading {
    display: block;
}
